.sprite {
    background-image: url(../img/showcase/spritesheet.png);
    background-repeat: no-repeat;
    display: block !important;
    width: 130px !important;
    height: 150px !important;
}

.sprite-disp {
    background-position: 0 0;
}

.sprite-disp2 {
    background-position: -130px 0;
}

.sprite-expAtlas {
    background-position: -260px 0;
}

.sprite-featViewer {
    background-position: 0 -150px;
}

.sprite-hpasummary {
    background-position: -130px -150px;
}

.sprite-intbundle {
    background-position: -260px -150px;
}

.sprite-intd3 {
    background-position: 0 -300px;
}

.sprite-kegg {
    background-position: -130px -300px;
}

.sprite-protport {
    background-position: -260px -300px;
}

.sprite-seq {
    background-position: -390px 0;
}

.sprite-wigexp {
    background-position: -390px -150px;
}

